<?xml version="1.0"?>
<configuration>
	<appSettings>
    <!--SqlServer 连结字符串-->
    <add key="SqlServerConnString" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=HRSystem;User ID=sa;Password="/>
    <!--Oracle 连结字符串-->
    <add key="OracleConnString" value="Data Source=ORCL;User ID=system;Password=123456"/>
    <!--OleDb 连结字符串-->
    <add key="OleDbConnString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\HRSystem.mdb"/>
    <!--当前使用的数据库类型。可选项为：SqlServer，Oracle，OleDb-->
    <add key="DataBaseType" value="OleDb"/>
    <!--是否显示异常的详细信息（详细信息可能包含具体出错的SQL语句等，请在生产环境中设为false。）-->
		<add key="ShowExceptionDetail" value="true"/>
    <!--是否显示操作成功信息（如添加、修改、删除记录成功后是否显示操作成功信息。）-->
    <add key="ShowSuccessMsg" value="true"/>
  </appSettings>
</configuration>
