<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--是否显示异常的详细信息（详细信息可能包含具体出错的SQL语句等，请在生产环境中设为false。）-->
    <add key="ShowExceptionDetail" value="true"/>
    <!--是否显示操作成功信息（如添加、修改、删除记录成功后是否显示操作成功信息。）-->
    <add key="ShowSuccessMsg" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>