<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net configSource="log4net.config" />
  <appSettings>
    <add key="MySQLServerConnString" value="server=localhost;database=quartz;charset=utf8;uid=root;pwd=123456"/>
    <!--是否显示异常的详细信息（详细信息可能包含具体出错的SQL语句等，请在生产环境中设为false。）server=localhost;user id=root;database=quartz-->
    <add key="ShowExceptionDetail" value="true"/>
    <!--是否显示操作成功信息（如添加、修改、删除记录成功后是否显示操作成功信息。）-->
    <add key="ShowSuccessMsg" value="true"/>
    <!--任务计划寄宿地址-->
    <add key="JobHostSite" value="http://localhost:20170/"/>
    <!--唤醒时间,毫秒，（防止出现寄宿站点停止）-->
    <add key="WakeupInterval" value="10000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
