<?xml version="1.0" encoding="utf-8"?>
<quartz>
  <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz"/>
  <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.MySQLDelegate, Quartz"/>
  <add key="quartz.jobStore.dataSource" value="myDS"/>
  <add key="quartz.dataSource.myDS.provider" value="MySql-695"/>
  <add key="quartz.dataSource.myDS.connectionString" value="server=localhost;database=quartz;charset=utf8;uid=root;pwd=123456"/>
  <add key="quartz.jobStore.tablePrefix" value="QRTZ_"/>
  <add key="quartz.jobStore.clustered" value="true"/>
  <add key="quartz.scheduler.instanceName" value="TestScheduler"/>
  <add key="quartz.scheduler.instanceId" value="instance_one"/>
  <add key="quartz.threadPool.threadCount" value="5"/>
  <add key="quartz.threadPool.threadPriority" value="Normal"/>
  <add key="quartz.jobStore.misfireThreshold" value="60000"/>
  <add key="quartz.jobStore.useProperties" value="false"/>
</quartz>