<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MySQLServerConnString" value="server=localhost;database=quartz;charset=utf8;uid=root;pwd=123456"/>
    <add key="SqlServer70" value="Provider=sqloledb;Data Source=KONGDF-A9CD33D3;Initial Catalog=master;
User Id=sa;Password=123456;"/>
    <!--<add key="SqlServer70" value="Server=192.168.5.9;Database=master;User Id=sa;Password = 123456;"/>-->
  </appSettings>
</configuration>